services:
  phobert-telecomgate:
    build:
      context: .
      dockerfile: ./dockerfiles/phobert-telecomgate/Dockerfile
      secrets:
        - env
    container_name: phobert-telecomgate
    ports:
      - "8136:8136"
    restart: unless-stopped
    depends_on:
      - rdr-segmenter
      # rdr-segmenter:
      #   condition: service_healthy
    environment:
      RDRSEGMENTER_BASE_URL: http://rdr-segmenter:8025

  rdr-segmenter:
    build:
      context: .
      dockerfile: ./dockerfiles/rdr-segmenter/Dockerfile
    container_name: rdr-segmenter
    # Maybe no need to make it public
    # ports:
    #   - "8025:8025"
    restart: unless-stopped
    # healthcheck:
    #   test: ["CMD-SHELL", "curl -s http://localhost:8025/v1/segment --http1.1 -X POST -H 'Content-Type: text/plain' -d 'Xin chào các bạn yêu quý! Chúng tôi rất trân trọng tình cảm của các bạn' >/dev/null 2>&1 || exit 1"]
    #   interval: 10s
    #   timeout: 5s
    #   retries: 3
    #   start_period: 10s

secrets:
  env:
    file: ./docker.env
